<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title >Centi - Control de flotas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
</head>
<body>
<style>
	body {
	  min-height: 2000px;
	  padding-top: 70px;
	}
</style>

    <div th:replace="fragments/header :: header">
        ...
    </div>
    <div style="display: table; width:100%" layout:fragment="content">
        <div style="display: table-cell;" class="col-lg-4">
        	<table id="device-grid" style="width: 100%">
        		<thead>
        			<tr>
        				<th>id</th>
        				<th>Name</th>
        				<th>Last Update</th>
        			</tr>
        		</thead>
        	</table>
        </div>
        <div style="display: table-cell:" class="col-lg-8">
        	Map
        </div>
    </div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
	<script>
	
	$(function () {
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		$(document).ajaxSend(function(e, xhr, options) {
			xhr.setRequestHeader(header, token);
		});
	});
	
	$(function() {
		$("#device-grid").DataTable({
			"ajax": {
				"url": "/getDevices",
				"type": "POST",
			},
			"serverSide": true,
			"searching": false,
			"info": false,
			"columns": [
			   { "data": "id"},
			  { "data": "name"},
			  {"data": "lastUpdate"},
			]
		});
	});
	</script>
</body>
</html>